.foodlist {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card {
    border: 1px solid red;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    min-width: 220px; 
}

.entry {
    width: 50%;
    margin-left: 20px;
    margin-top: 10px;
}

.name {
    max-height: 40px;
}